.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-image-1 {
  width: 304px;
  height: 264px;
  object-position: 50% 11.5%;
  background-position: 50% 11.5%;
  margin: 32px auto 0 0;
}

.u-section-1 .u-shape-1 {
  width: 265px;
  height: 484px;
  background-image: none;
  margin: -18px 311px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 376px;
  height: 449px;
  background-image: none;
  margin: -558px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 564px;
  min-height: 466px;
  margin: -357px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-right: 41px;
  padding-left: 0;
}

.u-section-1 .u-text-1 {
  margin: 41px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 41px 0 0 -1px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  border-style: solid;
  background-image: none;
  margin: 48px 266px 41px -1px;
  padding: 15px 44px 16px 42px;
}

.u-section-1 .u-image-2 {
  width: 497px;
  height: 685px;
  object-position: 49.36% 0%;
  background-position: 49.36% 0%;
  margin: -730px 40px 0 auto;
}

.u-section-1 .u-group-2 {
  width: 311px;
  min-height: 70px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-line-1 {
  width: 371px;
  transform-origin: right center 0px;
  margin: -583px auto 557px 286px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 789px;
  }

  .u-section-1 .u-image-1 {
    width: 267px;
    height: 276px;
    margin-top: 20px;
  }

  .u-section-1 .u-shape-1 {
    width: 184px;
    height: 284px;
    margin-right: 257px;
  }

  .u-section-1 .u-shape-2 {
    width: 349px;
    height: 341px;
    margin-top: -429px;
  }

  .u-section-1 .u-group-1 {
    width: 499px;
    min-height: 473px;
    margin-top: -178px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-top: 45px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-btn-1 {
    position: relative;
    margin-right: 219px;
    margin-bottom: 45px;
  }

  .u-section-1 .u-image-2 {
    width: 364px;
    height: 488px;
    margin-top: -737px;
    margin-right: 33px;
  }

  .u-section-1 .u-group-2 {
    width: 325px;
    min-height: 65px;
    margin-top: 42px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-1 .u-line-1 {
    width: 310px;
    margin-top: -469px;
    margin-bottom: 630px;
    margin-left: 248px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1092px;
  }

  .u-section-1 .u-image-1 {
    width: 247px;
    height: 237px;
  }

  .u-section-1 .u-shape-1 {
    width: 245px;
    height: 211px;
    margin-top: 58px;
    margin-right: 192px;
  }

  .u-section-1 .u-shape-2 {
    width: 267px;
    margin-top: -464px;
  }

  .u-section-1 .u-group-1 {
    min-height: 455px;
    margin-top: 185px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 168px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 358px;
    height: 468px;
    margin-top: -1023px;
    margin-right: 39px;
  }

  .u-section-1 .u-group-2 {
    width: 437px;
    min-height: 84px;
    margin-top: 38px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 107px;
    transform-origin: left center 0;
    margin-top: -392px;
    margin-bottom: 873px;
    margin-left: 235px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1112px;
  }

  .u-section-1 .u-image-1 {
    width: 192px;
  }

  .u-section-1 .u-shape-1 {
    width: 406px;
    height: 228px;
    margin-top: 41px;
    margin-right: 53px;
  }

  .u-section-1 .u-shape-2 {
    width: 250px;
  }

  .u-section-1 .u-group-1 {
    position: relative;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 9px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 126px;
  }

  .u-section-1 .u-image-2 {
    width: 273px;
    height: 387px;
    margin-right: 41px;
  }

  .u-section-1 .u-group-2 {
    width: 314px;
    min-height: 60px;
    margin-top: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-line-1 {
    width: 110px;
    margin-top: -418px;
    margin-bottom: 944px;
    margin-left: 132px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1535px;
  }

  .u-section-1 .u-image-1 {
    width: 207px;
    height: 244px;
    margin-top: 37px;
  }

  .u-section-1 .u-shape-1 {
    width: 221px;
    height: 308px;
    margin-top: 135px;
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-1 .u-shape-2 {
    width: 181px;
    height: 364px;
    margin-top: -336px;
  }

  .u-section-1 .u-group-1 {
    min-height: 642px;
    margin-top: 84px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 79px;
  }

  .u-section-1 .u-image-2 {
    width: 272px;
    height: 367px;
    margin-top: -1150px;
    margin-right: 20px;
  }

  .u-section-1 .u-group-2 {
    min-height: 74px;
    margin-top: 56px;
    margin-bottom: 145px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-1 .u-line-1 {
    width: 140px;
    position: relative;
    margin-left: -30px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 848px;
}

.u-section-2 .u-shape-1 {
  height: 644px;
  background-image: none;
  width: 952px;
  margin: 91px 0 0 auto;
}

.u-section-2 .u-image-1 {
  width: 742px;
  height: 557px;
  margin: -670px auto 0 38px;
}

.u-section-2 .u-group-1 {
  width: 470px;
  min-height: 342px;
  margin: -531px 20px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 25px;
}

.u-section-2 .u-text-1 {
  margin: 35px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  margin: 38px auto 35px 0;
}

.u-section-2 .u-image-2 {
  width: 348px;
  height: 306px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 72px 142px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 882px;
    position: relative;
  }

  .u-section-2 .u-shape-1 {
    height: 600px;
    width: 785px;
    margin-top: 135px;
  }

  .u-section-2 .u-image-1 {
    width: 643px;
    height: 531px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 424px;
    min-height: 303px;
    margin-top: -479px;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 21px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    font-size: 3.75rem;
    margin-top: 30px;
    margin-right: 16px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
  }

  .u-section-2 .u-btn-1 {
    position: relative;
    margin-top: 41px;
    margin-bottom: 30px;
  }

  .u-section-2 .u-image-2 {
    width: 324px;
    margin-top: 91px;
    margin-right: 87px;
    margin-bottom: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 751px;
  }

  .u-section-2 .u-shape-1 {
    height: 401px;
    width: 601px;
    margin-top: 234px;
  }

  .u-section-2 .u-image-1 {
    width: 493px;
    height: 404px;
    margin-top: -544px;
  }

  .u-section-2 .u-group-1 {
    width: 350px;
    min-height: 288px;
    margin-top: -441px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-right: 36px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 36px;
  }

  .u-section-2 .u-image-2 {
    width: 286px;
    height: 286px;
    margin-top: 69px;
    margin-right: 109px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1146px;
  }

  .u-section-2 .u-shape-1 {
    height: 661px;
    margin-top: 431px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 370px;
    width: 436px;
    margin-top: -729px;
    margin-left: 21px;
  }

  .u-section-2 .u-group-1 {
    min-height: 301px;
    margin-top: -689px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 12px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 69px;
  }

  .u-section-2 .u-image-2 {
    width: 374px;
    height: 319px;
    margin-top: 369px;
    margin-right: 18px;
    margin-bottom: 113px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-2 .u-shape-1 {
    height: 559px;
    margin-top: 540px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 403px;
    width: 300px;
    margin-top: -634px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    min-height: 342px;
    margin-top: -799px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 7px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 35px;
    margin-right: 6px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 35px;
  }

  .u-section-2 .u-image-2 {
    width: 208px;
    height: 235px;
    margin-top: 406px;
    margin-right: 13px;
    margin-bottom: 25px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1232px;
}

.u-section-3 .u-shape-1 {
  width: 433px;
  height: 609px;
  background-image: none;
  margin: 213px auto 0 0;
}

.u-section-3 .u-shape-2 {
  height: 474px;
  width: 747px;
  background-image: none;
  margin: -553px 0 0 auto;
}

.u-section-3 .u-image-1 {
  width: 428px;
  height: 645px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: -602px auto 0 30px;
}

.u-section-3 .u-group-1 {
  width: 608px;
  min-height: 428px;
  margin: -624px 30px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 36px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 4.5rem;
  margin: 13px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 36px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  background-image: none;
  margin: 41px auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 356px;
  height: 458px;
  object-position: 50% 0%;
  background-position: 50% 0%;
  margin: 89px 30px 0 auto;
}

.u-section-3 .u-group-2 {
  width: 683px;
  min-height: 229px;
  margin: -236px auto 0 30px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-right: 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1096px;
    position: relative;
  }

  .u-section-3 .u-shape-1 {
    width: 357px;
    height: 564px;
    margin-top: 95px;
  }

  .u-section-3 .u-shape-2 {
    height: 394px;
    width: 616px;
    margin-top: -435px;
  }

  .u-section-3 .u-image-1 {
    width: 353px;
    height: 602px;
    margin-top: -498px;
    margin-left: 25px;
  }

  .u-section-3 .u-group-1 {
    width: 537px;
    margin-top: -602px;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-1 {
    letter-spacing: 1px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    font-size: 3.75rem;
  }

  .u-section-3 .u-text-3 {
    position: relative;
  }

  .u-section-3 .u-btn-1 {
    position: relative;
  }

  .u-section-3 .u-image-2 {
    width: 301px;
    height: 396px;
    margin-top: -94px;
    margin-right: 26px;
  }

  .u-section-3 .u-group-2 {
    width: 613px;
    min-height: 287px;
    margin-top: -205px;
    margin-bottom: 61px;
    margin-left: 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
  }

  .u-section-3 .u-text-5 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1164px;
  }

  .u-section-3 .u-shape-1 {
    width: 279px;
    height: 597px;
    margin-top: 88px;
  }

  .u-section-3 .u-shape-2 {
    height: 500px;
    width: 472px;
    margin-top: -470px;
  }

  .u-section-3 .u-image-1 {
    width: 279px;
    height: 535px;
    margin-top: -602px;
    margin-left: 19px;
  }

  .u-section-3 .u-group-1 {
    width: 422px;
    margin-top: -535px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-3 .u-image-2 {
    width: 269px;
    height: 389px;
    margin-top: 28px;
    margin-right: 13px;
  }

  .u-section-3 .u-group-2 {
    width: 438px;
    min-height: 328px;
    margin-top: -230px;
    margin-bottom: 80px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1920px;
  }

  .u-section-3 .u-shape-1 {
    width: 283px;
    height: 602px;
    margin-top: 677px;
  }

  .u-section-3 .u-shape-2 {
    height: 548px;
    width: 424px;
    margin-top: -627px;
  }

  .u-section-3 .u-image-1 {
    height: 609px;
    width: 424px;
    margin-left: 45px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -1148px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-image-2 {
    width: 322px;
    height: 498px;
    margin-top: 571px;
    margin-right: 14px;
  }

  .u-section-3 .u-group-2 {
    min-height: 278px;
    margin-top: 0;
    margin-bottom: 90px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2071px;
  }

  .u-section-3 .u-shape-1 {
    width: 213px;
    height: 438px;
    margin-top: 741px;
  }

  .u-section-3 .u-shape-2 {
    height: 413px;
    width: 288px;
    margin-top: -471px;
  }

  .u-section-3 .u-image-1 {
    height: 493px;
    width: 299px;
    margin-top: -545px;
    margin-left: 21px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -974px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-2 {
    width: 267px;
    height: 368px;
    margin-top: 581px;
    margin-right: 21px;
  }

  .u-section-3 .u-group-2 {
    min-height: 352px;
    margin-top: 96px;
    margin-bottom: 99px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-bottom: 20px;
  }
} .u-section-4 {
  background-image: url("images/pair-trainers.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  letter-spacing: 0px;
  font-weight: 300;
  margin: 59px auto 0 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  margin: 20px 570px 0 0;
}

.u-section-4 .u-text-3 {
  background-image: none;
  margin: 20px 416px 60px 154px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    width: 587px;
    margin-right: 370px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 316px;
    margin-left: 54px;
  }

  .u-section-4 .u-btn-1 {
    padding: 0;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 57.55% 50%;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 247px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 436px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 150px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-right: 67px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 256px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    margin-right: 56px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 692px;
}

.u-section-5 .u-shape-1 {
  height: 479px;
  width: 716px;
  background-image: none;
  margin: 132px auto 0 60px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 1140px;
  margin: -512px -32px 60px auto;
}

.u-section-5 .u-image-1 {
  min-height: 525px;
  background-image: url("images/dse.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 525px;
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  margin: 91px 46px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  margin: 11px 17px 0 29px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 20px 17px 0 29px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 30px 17px 0 29px;
}

.u-section-5 .u-image-2 {
  min-height: 525px;
  background-image: url("images/Untitled16min.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-5 .u-shape-1 {
    height: 383px;
    width: 605px;
    margin-top: 100px;
    margin-left: 46px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -423px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 433px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 433px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    font-size: 2.25rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    position: relative;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }

  .u-section-5 .u-image-2 {
    min-height: 433px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 494px;
  }

  .u-section-5 .u-shape-1 {
    height: 335px;
    width: 452px;
    margin-left: 35px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -375px;
  }

  .u-section-5 .u-image-1 {
    min-height: 332px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
  }

  .u-section-5 .u-image-2 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1878px;
  }

  .u-section-5 .u-shape-1 {
    height: 780px;
    width: 457px;
    margin-top: 624px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -1279px;
  }

  .u-section-5 .u-image-1 {
    min-height: 996px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-5 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-5 .u-image-2 {
    min-height: 553px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 822px;
  }

  .u-section-5 .u-shape-1 {
    height: 421px;
    width: 280px;
    margin-top: 105px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -466px;
  }

  .u-section-5 .u-image-1 {
    min-height: 627px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-5 .u-image-2 {
    min-height: 348px;
  }
}